.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    /* width:25%; */
    height: 100vh;
    background-color: rgba(0, 151, 70, 100%);
}
.opciones{
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 5px;
    border-radius: 30px;
    padding: 5px;
}
.opciones:hover{
    border: 1px solid #4A3424;
}