@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Merriweather', serif;
  color: #4A3424;
  background-color: #009746;
}